<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Main To Do List</title>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
          <div class="jumbotron">
          <h2>Justice for Us</h2>
          <p><h4>
          Hey there, my name is Aileen. I work at the ACLU as a junior web developer. I recently met Davina at the Allied Media Conference, an event that brings together activists from all over the United States to share tools and tactics for transforming our communities through media based organizing. After meeting Davina, I wanted to connect with her to work on similar projects and tap into her list of contacts and resources. The challenge of our schedules, locations, and resources led us to create Justice for Us - a microblog.
          </h4>
        </p>
          <hr>
          <form id="new_blog_form">
           <div class="form-group">
              <textarea class="form-control" id="blog-post" placeholder="Type your post here" rows="5"></textarea>

            <div class="form-group">
              <input type="submit" id="Savebutton" class="btn btn-success" value="Save Post">
            <br><br>
          </form>
          <hr>
        
        <h4>Blog Post Archives</h4>
        <article id="old-blog-posts">
        <!--   <li class="task">Clean Up</li>
          <p class="blog">DirectAction at Market and Castro</li>
          <p class="task">Direct </li>
          <p class="task">Go Shopping</li>
          <p class="task">Watch anime</li>
          <p class="task">Listen to music</li> -->

        </article>

        <div class="form-group" id="comment-form">
              <textarea class="form-control" id="blog-comment" placeholder="Write Your Comments Here with your Name" rows="2"></textarea>
            <input type="submit" id="Savebutton" class="btn btn-success" value="Save Comment">
        
      </div> 
    </div> 
  </div>
</div>
</div>
</div>
</div>



<!-- jquery -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  
  <!-- underscore -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>   
  
  <!-- custom script -->
  <script type="text/javascript" src="script.js"></script>

    <!-- underscore template -->
  <script type="text/template" id="old-blog-posts-template">
    <div class="blog">
      <p>
        <%= blog %> - <%= comment %>
      </p>
      <hr>
    </div>   
  </script>
 
</body>

</html>